<h1>New SubSpreddit</h1>

<form action="<%= subs_url %>" method="POST">
  <%= hidden_form_inputs('POST') %>

  <label>Title
    <br>
    <input
      type="text"
      name="sub[title]"
      value="<%= @sub.title %>">
  </label><br>

  <label>Description
    <br>
    <textarea
      name="sub[description]"><%= @sub.description %></textarea>
  </label><br>

  <button>Submit</button>
</form>
